{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}{{ new.title | truncatewords:2 }}{% endblock title %}
{% block content %}

     <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>{{ new.title }}</h3>
                <h5>{{ new.publish_time }} Ko`rilganlar soni {% get_hit_count for new %}</h5>
                <img src="{{ new.image.url }}"style="width: 50%; height: 300px">
                <p>{{ new.text }}</p>
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <a href="{% url 'delete_news' new.slug%}">O'chirish</a>
                <a href="{% url 'edit_news' new.slug%}">Tahrirlash</a>
                {% endif %}
            </div>
        </div>
     <div class="row">
         <div class="col-8">
             {% for comment in comments %}
             <div class="comments">
             <p class="font-weight-bold">
                 {{ comment.user }}
                  <span class="text-muted font-weight-normal">{{ comment.created }}</span>
             </p>
             {{ comment.body | linebreaks }}

             </div>

             {% endfor %}
         </div>
     </div>
     <div class="card " style="margin-top: 20px">
         <div class="card-body">
             <h3>Izoh qoldiring</h3>
             <form method="post" action="#">{% csrf_token %}
             {{ comment_form.as_p }}
                 {% if user.is_authenticated %}
             <button class="btn btn-primary" type="submit">Yuborish</button>
                     {% else %}
                     <a href="{% url 'login' %}"><button class="btn-danger" type="button">Login qilin</button></a>
                 {% endif %}
             </form>
         </div>
     </div>
        </div>
{% endblock content %}